# Core functionality - changes here should be rare!
/src/app.py                   @cmartinez-misoenergy
/src/backend/database.py      @cmartinez-misoenergy
/src/backend/routers/auth.py  @cmartinez-misoenergy

# The frontend will need refactored soon to be more object oriented.
/src/static/   @cmartinez-misoenergy
